# Connecting to MySQL

In [ ]:
import mysql.connector as ms

# creates a connection to the mysql server
conn = ms.connect(
    host='localhost',
    user='diego',
    password='senha123'
)

# creates a cursor to execute sql commands
cursor = conn.cursor()

cursor

# Creating a Database

In [ ]:
cursor.execute('CREATE DATABASE IF NOT EXISTS db_produtos;')

cursor.execute('SHOW DATABASES;')

# must be run each item in the cursor
[db for db in cursor]

# Reading a CSV file and showing some informations

In [ ]:
import pandas as pd

# creates a dataframe using a csv file
df = pd.read_csv('../data/produtos_categoria_livros.csv')

# shows some informations
print(f'nome das colunas:\n{df.columns}')
print(f'\nquantidade de linhas e colunas:\n{df.shape}')

In [ ]:
# returns each row as a "tuple"
data_sql = [tuple(row) for i, row in df.iterrows()]

data_sql

# Creating and Showing a table in MySQL to store data from CSV

In [ ]:
cursor.execute('USE db_produtos;')

# drops the table if it already exists
cursor.execute('DROP TABLE IF EXISTS livros;')

# sql command to create a table
sql = """    
    CREATE TABLE livros (
        id              VARCHAR(100),
        produto         VARCHAR(100),
        categoria       VARCHAR(100),
        preco           DECIMAL(10,2),
        frete           DECIMAL(10,2),
        data_compra     DATE,
        vendedor        VARCHAR(100),
        local_compra    VARCHAR(100),
        avaliacao       TINYINT,
        tipo_pagamento  VARCHAR(100),
        qtd_parcelas    TINYINT,
        lat             FLOAT,
        lon             FLOAT,
        
        PRIMARY KEY (id)
    );
"""

cursor.execute(sql)

cursor.execute('SHOW TABLES;')
[tb for tb in cursor]

In [ ]:
# sql command to insert multiples values into table in mysql
# %s = placeholder that will be replaced by actual value
sql = 'INSERT INTO livros VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'

# to execute multiples commands, a connection commit is needed
cursor.executemany(sql, data_sql)
conn.commit()

cursor.execute('SELECT * FROM livros')

print(f'quantidade de tuplas na tabela "livros" do mysql:\n{len([row for row in cursor])}')

In [ ]:
cursor.execute('SELECT * FROM livros')

print('dados da tabela "livros":')
for row in cursor:
    print(row)

# Creating and Showing a another table in MySQL to store data from CSV

In [ ]:
# creates a dataframe using a csv file
df = pd.read_csv('../data/produtos_data_compra_maior_que_2020.csv')

# shows some informations
print(f'nome das colunas:\n{df.columns}')
print(f'\nquantidade de linhas e colunas:\n{df.shape}')

In [ ]:
# returns each row as a "tuple"
data_sql = [tuple(row) for i, row in df.iterrows()]

data_sql

In [ ]:
# drops the table if it already exists
cursor.execute('DROP TABLE IF EXISTS data_maior_que_2020;')

# sql command to create a table
sql = """    
    CREATE TABLE data_maior_que_2020 (
        id              VARCHAR(100),
        produto         VARCHAR(100),
        categoria       VARCHAR(100),
        preco           DECIMAL(10,2),
        frete           DECIMAL(10,2),
        data_compra     DATE,
        vendedor        VARCHAR(100),
        local_compra    VARCHAR(100),
        avaliacao       TINYINT,
        tipo_pagamento  VARCHAR(100),
        qtd_parcelas    TINYINT,
        lat             FLOAT,
        lon             FLOAT,
        
        PRIMARY KEY (id)
    );
"""

cursor.execute(sql)

cursor.execute('SHOW TABLES;')

[tb for tb in cursor]

In [ ]:
# sql command to insert multiples values into table in mysql
# %s = placeholder that will be replaced by actual value
sql = 'INSERT INTO data_maior_que_2020 VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'

# to execute multiples commands, connection commit is needed
cursor.executemany(sql, data_sql)
conn.commit()

cursor.execute('SELECT * FROM data_maior_que_2020')

print(f'quantidade de tuplas na tabela "data_maior_que_2020" do mysql:\n{len([row for row in cursor])}')

In [ ]:
cursor.execute('SELECT * FROM data_maior_que_2020')

print('dados da tabela "data_maior_que_2020":')
for row in cursor:
    print(row)

# Closing the cursor and connection to MySQL

In [ ]:
cursor.close()
conn.close()